html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    scale: 0.5;
  }
}
.List-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
  justify-content: flex-start; /* Align content to the top */
  background-color: #282c34;
  padding: 1rem;
  height: 100vh;
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.List-item {
    font-size: 0.85rem;
    margin: 0.2rem 0;
    color: orangered;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Plane-style {
  height: 50px;
  width: 50px;
  background-size: cover;
  object-fit: cover;
  border: 4px solid red;
  border-radius: 100%;
}


.Map-container {
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
}


.map-style {
  width: 100%;
  height: auto;
  transform: translateX(-400px); /* Move map left */
  transform-origin: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
